{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
    <h1>Todo List</h1>
	  
    <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
            {{ task.title }}
            <a class="btn btn-sm btn-danger ms-2" href="{% url 'delete_task' task.id %}">Delete</a>
            <a class="btn btn-sm btn-primary ms-2" href="{% url 'edit_task' task.id %}">Edit</a>
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary mt-3" href="{% url 'add_task' %}">Add Task</a>
{% endblock %}
